body{
    margin: 0;
}
h1{                                      /* ! Стиль заголовка */    
    display: block;
    color: rgb(165, 42, 42);
    position: absolute;
    left: 60%;
    bottom: 80%;
    font-size: 70px;
}
#main{
    position: absolute;
    display: block;
    font-size: 30px;
    left: 5%;
    bottom: 5%;
    
}
#canvas{
    display: block;                          /* ! Работа с канвесом  */
    border: 3px solid rgb(50, 169, 205);
    width: 620px;
    height: 620px;
    position: absolute;
    right: 59%;
    top: 1%;
    background-color: rgba(24, 49, 16, 0.555);
}
.dws{                           /* ! Диспелей всех кнопок */
    display: inline-block;
    font-size: 30px;
   
}
#start{
    position: absolute;         /*! Позиционнирование кнопки стартового блока*/
    top: 30%;
    right: 37%;
}
#end{                                   /*! Позиционнирование кнопки конечного блока*/
    position: absolute;
    right: 37%;
    top: 60%;
    font-size: 30px;
}
#zap{                           /* ! Позиционнирование кнопки запуска алгоритма */
    position: absolute;
    top: 30%;
    left: 82%;
}
#gen{                       /* ! Позиционнирование кнопки генерации карты */
    position: absolute;
    top: 45%;
    left: 64%;
}
#cl{                            /* ! Позиционнирование кнопки очистки карты */
    position: absolute;
    left: 82%;
    top: 60%;

}
#cell{                          /* ! Позиционнирование кнопки размещения непроходимых клеток */
    position: absolute;
    left: 64%;
    top: 75%;
}
.butt{
    border: 3px solid #218294;      /* ! Настройка и анимирование кнопок */
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    
}
.butt::before, .butt::after{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #218294;
    top: 0%;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}
.butt::after{
    opacity: 1;
    transition-delay:.2s;
}
.butt:hover{
    color: #fff;
}
.butt:hover::before, .butt:hover::after{
    left: 0;
}
.num{                           /* ! Ввод числа пользователем */
    position: absolute; 
    display: block;
    bottom: 60%;
    left: 69%;
    width: 100px;
}
.nu{
    display: block;             /* ! Заголовок для ввода числа пользователем */
    position: absolute;
    bottom: 70%;
    left: 68%;
    font-size: 35px;
    color: green;
}
.Bu{
    display: block;             /* ! Заголовок для ввода числа пользователем */
    position: absolute;
    bottom: 65%;
    left: 67%;
    font-size: 35px;
    color: green;
}
a{
    text-decoration: none;
}