body{
    margin: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#intro{
    height: 100%;  
    width: 100%;
    display: block;
    position: absolute;
    content: 100%;
}
#H1{
    display: block;
    height: 100px;
    color: tomato;
    position: absolute;
    bottom: 68%;
    left: 15%;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#hits{
    display: inline-block;
    position: absolute;
    margin: 0%;
    font-size: 37px;
    top: 87%;
    left: 43%;
    color: orangered;
}
ol{
    display: inline;
    color: rgb(0, 241, 181);
    position: absolute;
    top: 27%;
    right: 60%;
    font-size: 30px;
}
:link{
    display: inline-block;
    color: rgb(255, 0, 0);
}
:visited{
    display: inline-block;
    color: palegreen;
}
p{
    margin: 12%;
}
a {
    text-decoration: none;
    /* Отменяем подчеркивание у ссылки */
}
