body{
    margin: 0;
}
h1{                                      /* ! Стиль заголовка */    
    display: block;
    color: rgb(153, 29, 29);
    position: absolute;
    left: 50%;
    bottom: 80%;
    font-size: 70px;
    
}
#main{
    position: absolute;
    display: block;
    font-size: 30px;
    left: 5%;
    
}
#canvas{
    display: block;                          /* ! Работа с канвесом  */
    border: 3px solid rgb(50, 169, 205);
    width: 620px;
    height: 620px;
    position: absolute;
    right: 55%;
    top: 13%;
    background-color: rgba(44, 82, 131, 0.781);
}
.dws{                           /* ! Диспелей всех кнопок */
    display: inline-block;
    font-size: 30px;
   
}
#start{
    position: absolute;         /*! Позиционнирование кнопки старта алоритма */
    top: 35%;
    left: 55%;
    
}
#end{                           /* ! Позиционнирование кнопки остановки алгоритма */
    position: absolute;
    top: 35%;
    left: 80%;
}
#cl{                            /* ! Позиционнирование кнопки очистки карты */
    position: absolute;
    top: 60%;
    left: 67.5%;
}
.butt{
    border: 3px solid #218294;      /* ! Настройка и анимирование кнопок */
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    font-weight: 700;
    font-size: 35px;

}
.butt::before, .butt::after{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #218294;
    top: 0%;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}
.butt::after{
    opacity: 1;
    transition-delay:.2s;
}
.butt:hover{
    color: #fff;
}
.butt:hover::before, .butt:hover::after{
    left: 0;
}