body{
   margin:0 auto;
   -moz-user-select: none;
   -khtml-user-select: none;
    user-select: none;
 }
 h2{                                      /* ! Стиль заголовка */    
  display: block;
  color: rgb(201, 247, 0);
  position: absolute;
  left: 51%;
  bottom: 80%;
  font-size: 70px;
}
#main{
  position: absolute;
  display: block;
  font-size: 50px;
  left: 63%;
  top: 85%;
  color: darkorange;
}
 #canvas{
  display: block;                          /* ! Работа с канвесом  */
  border: 3px solid rgb(255, 0, 0);
  width: 720px;
  height: 720px;
  position: absolute;
  right: 50%;
  top: 3%;
  background-color: rgba(12, 14, 12, 0.555);
}
#cl{
position: absolute;
  left: 82%;
  top: 30%;
  display: inline-block;
  font-size: 30px;
}
#srt{
   position: absolute;         /*! Позиционнирование кнопки стартового блока*/
   top: 30%;
   right: 30%;
   display: inline-block;
     font-size: 30px;
}
#distText{
  position: absolute;
  top: 50%;
  right: 19%;
  display: inline-block;
  font-size: 35px;
  color: rgb(0, 247, 255);
}
#dist{
  position: absolute;
  top: 55%;
  right: 21%;
  display: inline-block;
  font-size: 35px;
  color: rgb(0, 247, 255);
}
.btn{
   border: 3px solid #99424d;      /* ! Настройка и анимирование кнопок */
   color: rgb(255, 255, 255);
   text-decoration: none;
   text-transform: uppercase;
   width: 250px;
   height: 60px;
   display: block;
   text-align: center;
   line-height: 60px;
   font-family: Arial, sans-serif;
   position: relative;
   transition: .5s;
   overflow: hidden;
   
 }
 .btn::before, .butt::after{
   position: absolute;
   content: ' ';
   width: 100%;
   height: 100%;
   background-color: #942921;
   top: 0%;
   left: -100%;
   opacity: .5;
   transition: .3s;
   z-index: -1;
 }
 .btn::after{
   opacity: 1;
   transition-delay:.2s;
 }
 .btn:hover{
   color: #fff;
 }
 .btn:hover::before, .butt:hover::after{
   left: 0;
 }