body{
   margin:0 auto;
   -moz-user-select: none;
   -khtml-user-select: none;
    user-select: none;
 }
 h1{                                      /* ! Стиль заголовка */    
  display: block;
  color: rgb(0, 38, 255);
  position: absolute;
  left: 55%;
  bottom: 80%;
  font-size: 70px;
}
#main{
  position: absolute;
  display: block;
  font-size: 30px;
  left: 5%;
  bottom: 3%;
}
 #gCanvas{
  display: block;                          /* ! Работа с канвесом  */
  border: 3px solid rgb(50, 169, 205);
  width: 620px;
  height: 620px;
  position: absolute;
  right: 59%;
  top: 1%;
  background-color: rgba(24, 49, 16, 0.555);
}
 #btnStartPoint{
  position: absolute;         /*! Позиционнирование кнопки стартового блока*/
  top: 20%;
  right: 37%;
  display: inline-block;
    font-size: 30px;
   
}
#btnEndPoint{                                   /*! Позиционнирование кнопки конечного блока*/
  position: absolute;
  right: 37%;
  top: 50%;
  font-size: 30px;
}
#btnBeginPathFind{                           /* ! Позиционнирование кнопки запуска алгоритма */
  position: absolute;
  top: 20%;
  left: 82%;
}
#gen{                       /* ! Позиционнирование кнопки генерации карты */
  position: absolute;
  top: 35%;
  left: 64%;
  display: inline-block;
    font-size: 30px;
   
}
#wallReset{                            /* ! Позиционнирование кнопки очистки карты */
  position: absolute;
  left: 82%;
  top: 50%;
  display: inline-block;
    font-size: 30px;
   

}
#btnWall{                          /* ! Позиционнирование кнопки размещения непроходимых клеток */
  position: absolute;
  right: 37%;
  top: 75%;
  display: inline-block;
  font-size: 30px;
   
}
#gen{                       /* ! Позиционнирование кнопки генерации карты */
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 64%;
  font-size: 30px;
}
#cl{
  position: absolute;
  left: 82%;
  top: 75%;
  display: inline-block;
  font-size: 30px;
}
#rd{
  position: absolute;
  display: inline-block;
  top: 63%;
  left: 64%;
  font-size: 30px;
}
 .btn{
  border: 3px solid #218294;      /* ! Настройка и анимирование кнопок */
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
  font-family: Arial, sans-serif;
  position: relative;
  transition: .5s;
  overflow: hidden;
  
}
.btn::before, .butt::after{
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  background-color: #218294;
  top: 0%;
  left: -100%;
  opacity: .5;
  transition: .3s;
  z-index: -1;
}
.btn::after{
  opacity: 1;
  transition-delay:.2s;
}
.btn:hover{
  color: #fff;
}
.btn:hover::before, .butt:hover::after{
  left: 0;
}
.num{                           /* ! Ввод числа пользователем */
  position: absolute; 
  display: block;
  bottom: 70%;
  left: 69%;
  width: 100px;
}
.nu{
  display: block;             /* ! Заголовок для ввода числа пользователем */
  position: absolute;
  bottom: 80%;
  left: 68%;
  font-size: 35px;
  color: green;
}
.Bu{
  display: block;             /* ! Заголовок для ввода числа пользователем */
  position: absolute;
  bottom: 75%;
  left: 67%;
  font-size: 35px;
  color: green;
}
a{
  text-decoration: none;
}