.ipi{
    color: blue;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.back{                    /* возврат на мейн страницу*/
    font-family: normal;
    font-size: 40px;
    position: absolute;
    left: 10px;
    color:rgb(189, 113, 0);
    font-family: Comic Sans MS, Comic Sans, cursive;
}
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    position: relative;
    left: 10px;
   } 

.canvas{
    display: block;                          /* ! Работа с канвесом  */
    border: 10px solid rgb(94, 55, 4);
    width: 620px;
    height: 620px;
    position: absolute;
    right: 48%;
    top: 17%;
    background : url("https://image.freepik.com/free-vector/top-view-seamless-forest_70347-3073.jpg");
    background-repeat: round;
}

#start{
    position: absolute;
    top: 40%;
    left: 55%;
    font-size: 35px;
    color:rgb(189, 113, 0);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600; 
    cursor: pointer;
}
#clear{
    position: absolute;
    top: 40%;
    left: 75%; 
    font-size: 35px;
    color:rgb(189, 113, 0);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
    cursor: pointer;
}
.pole{
    position:absolute;
    bottom: 79%;
    left: 25%;
    font-size: 45px;
    color:rgba(217, 255, 0, 0.87);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
}
#rightpic{
    position: absolute;
    right: 60.5%;
    top: 21.1%;
}
.but{
    border: 10px solid rgb(94, 55, 4);      /* ! Настройка и анимирование кнопок */
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 150px;
    display: block;
    text-align: center;
    line-height: 60px;
}
h1{
    display: block;
    color: rgb(81, 165, 42);
    position: absolute;
    left: 53%;
    bottom: 80%;
    font-size: 60px;
}

