body{
    margin:0 auto;
   -moz-user-select: none;
   -khtml-user-select: none;
    user-select: none;
}
h1{
  display: block;
  color: rgb(0, 26, 255);
  position: absolute;
  font-size: 45px;
  left: 3%;
  top: 10%;
}
canvas{
    display: block;                          /* ! Работа с канвесом  */
    border: 3px solid rgb(255, 123, 0);
    background-color: rgba(0, 0, 139, 0.582);
    width: 900px;
    height: 700px;
    position: absolute;
    right: 2%;
    top: 5%;
}
#main{
    position: absolute;
  display: block;
  font-size: 30px;
  left: 5%;
  bottom: 3%;
}
#str{
    display: inline-block;
    font-size: 30px;
    position: absolute;
    left: 10%;
    top: 30%;
}
#cl{
    display: inline-block;
    font-size: 30px;
    position: absolute;
    left: 10%;
    top: 60%;
}
.btn{
    border: 3px solid #ffd000;      /* ! Настройка и анимирование кнопок */
    color: rgb(10, 196, 25);
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    
  }
  .btn::before, .butt::after{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: #218294;
    top: 0%;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
  }
  .btn::after{
    opacity: 1;
    transition-delay:.2s;
  }
  .btn:hover{
    color: #fff;
  }
  .btn:hover::before, .butt:hover::after{
    left: 0;
  }